.Navbar {
    position: fixed;
    /* Fixe la navbar en haut de la page */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Espace les éléments */
    align-items: center;
    /* Centre les éléments verticalement */
    padding: 10px 20px;
    /* Ajoute du padding pour un meilleur rendu */
    background-color: #fff;
    /* Fond blanc, ajustez selon vos besoins */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ajoute une ombre pour un effet de profondeur */
    z-index: 1000;
    /* Assure que la navbar soit au-dessus des autres éléments */
}

.Logo,
.Menu {
    height: 40px;
    /* Ajustez la taille des images selon vos besoins */
}

.Title {
    font-size: 1.5rem;
    /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold;
}